<div class="container">
  <div class="shadow-lg p-3 bg-secondary mb-5">
    <h1 class="fs-2 fw-bold">About Predecessor</h1>
    <p>Predecessor is an action-packed Multiplayer Online Battle Arena (MOBA) game that combines elements of third-person shooters and classic MOBAs. In Predecessor, two teams of five players compete against each other with the goal of destroying the opposing team's base. Each player selects a hero with unique abilities and must work strategically as a team to control the map and gather resources.</p>
    <p>The game emphasizes intense combat, team coordination, and tactical skill. Predecessor offers a wide range of heroes with different roles such as tanks, assassins, mages, and marksmen. It strongly resembles the now-defunct Paragon, utilizing the assets and mechanics of that game, as it is developed on the same foundation. With its captivating graphics and dynamic battles, it provides an exciting experience for MOBA fans.</p>
  </div>
</div>
