.category:hover {
  background-color: #8D8D8D !important;
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

.image {
  width: 125px;
  height: 125px;
  background-color: white;
  padding: 4px;
}

.heroes:hover {
  /* cursor: pointer; */
  scale: 1.02;
}

.heroes {
  transition: all 0.3s ease;
  animation: hoverHeroes 0.3s ease-in-out;
}

.progress {
  width: 140px;
  height: 35px;
}

.charStats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.progress-bar {
  font-size: 1rem;
  color: black
}

.charStats>* {
  display: flex;
  align-items: center;
  justify-self: center;
}
